.formCard {
  margin-bottom: 20px;
}

.formItem {
  margin-top: -12px;
  margin-bottom: 20px;
}

.drawerFooterBox {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-switch {
  background: #FE725C;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-switch:hover:not(.ant-switch-disabled) {
  background: #FE725Caa;
}

*::-webkit-scrollbar {
  display: none;
}